body {
  font-family: "proxima-nova", sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: $blackColor;
  background-color: $backgroundColor;
  text-transform: uppercase;
}

div.beta {
  margin: 0;
  h1 {
    display:inline-block;
    line-height: 0.8em;
    font-size: 3.750em;
    font-weight: 700;
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
    color: $blackColor;
    margin-left: 4px;
    &:hover {
      color: $whiteColor;
    }
  }
}

@media only screen and (min-width: 35em) {
  div.beta {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    h1 {
      margin: 0 0 0 12px;
      padding: 0 0 0 10px;
      border-left: 11px solid $blackColor;
    }
    a {
      margin-left: 24px;
    }
  }
}
