<% content_for :title, "Weekend Brunch Menu" %>

<div class="row menu">
  <div class="large-6 columns">
    <h2>Early Morning Risers</h2>

    <dl>
      <dt>Pastries from Yeast Bakery</dt>
      <dd>French Butter Croissant <strong>&pound;1.90</strong><br>
      Almond Croissant <strong>&pound;2.30</strong><br>
      Pain au Chocolat <strong>&pound;2.10</strong></dd>
    </dl>

    <dl>
      <dt>Fig and Cranberry loaf or Banana Bread</dt>
      <dd>Served toasted with butter <strong>&pound;2.50</strong></dd>
    </dl>

    <dl>
      <dt>Crosstown Doughnuts</dt>
      <dd>See counter for selection <strong>&pound;3.50</strong></dd>
    </dl>

    <dl>
      <dt>Curators Granola</dt>
      <dd>with mixed berry compote, Greek yogurt and fresh berries <strong>&pound;4.90</strong></dd>
    </dl>

    <h2>Lunch</h2>
    <p>Selection of freshly made sandwiches.  Please view counter for today’s range.</p>
  </div>
  <div class="large-6 columns">
    <h2>From 11am to 5pm</h2>

    <dl>
      <dt>Bacon Butty</dt>
      <dd>smoked bacon and tomato chutney on buttered toasted buttermilk bread <strong>&pound;5.00</strong></dd>
    </dl>

    <dl>
      <dt>Cinnamon French Toash</dt>
      <dd>with rhubarb compote, toasted almonds and mascarpone <strong>&pound;5.50</strong></dd>
    </dl>

    <dl>
      <dt>Jalapeño Corn Fritters</dt>
      <dd>with tomato salsa and coleslaw <strong>&pound;5.90</strong></dd>
    </dl>

    <dl>
      <dt>Smashed Avocado</dt>
      <dd>on seeded granary toast with lime and chilli <strong>&pound;5.90</strong></dd>
    </dl>

    <dl>
      <dt>Boston Baked Beans</dt>
      <dd>with slow cooked chunks of belly pork, served with baguette <strong>&pound;6.50</strong></dd>
    </dl>

    <h2>Something Sweet</h2>
    <p>A selection of tasty treats are available. Please view counter for today’s range.</p>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <p>*Please note, all of our food is prepared in kitchens that use meat, dairy, soy, gluten, eggs, sulphites and nuts.<br>
    *Please order and pay at the till.</p>
  </div>
</div>
