<div class="row">
  <div class="large-12 columns">
    <h3>Edit Latte Art Class</h3>
    <%= form_for [:admin, @latte_art_class] do |f| %>
      <%= render :partial => 'admin/classes/form', :locals => {:form => f} %>
    <% end %>
  </div>
</div>
