<div class="vcard">
  <h2>Curators Coffee Gallery</h2>
  <p>51 Margaret Street<br>London W1W 8SG</p>
  <p>Mon-Fri 7:30am-6:30pm<br>Sat 8:30am-5:00pm<br>Sun 9:00am-5:00pm</p>
  <p><a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a><br>020 7580 2547</p>
</div>
