<div class="vcard">
  <h2>Curators Coffee Gallery</h2>
  <p>
    <strong>COMING SOON</strong><br>
    51 Margaret Street<br>
    London W1W 8RP<br>
    <a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a>
  </p>
</div>
