<div class="vcard">
  <h2>Curators Coffee Studio</h2>
  <p>9a Cullum Street<br>London EC3M 7JJ</p>
  <p><strong>*Closed from 24th December<br>*Reopens on 5th January</strong></p>
  <p>Mon-Fri 7:30am-5:30pm</p>
  <p><a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a><br>020 7283 4642</p>
</div>
