<div class="vcard pull-right" style="padding-left:8px;">
  <p>
  <%= link_to "9a Cullum St London EC3M 7JJ", @map_url %><br>
  Mon-Fri 7:30am-5:00pm
  <i class="icon icon-phone"></i> 020 7283 4642<br>
  <i class="icon icon-twitter"></i> <a class="dark" href="http://twitter.com/Curators_Coffee">@Curators_Coffee</a><br>
  <i class="icon icon-plus"></i> <a class="dark url" href="https://plus.google.com/104952979599766265060/about">Google+</a><br>
  <i class="icon icon-user"></i> <a class="dark url" href="https://www.facebook.com/curatorscoffee">http://facebook.com/curatorscoffee</a><br>
  <i class="icon icon-contact"></i> <a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a>
  </p>
</div>
