<div class="vcard">
  <p>
    <%= link_to "9a Cullum St London EC3M 7JJ", @map_url %><br>
    Mon-Fri 7:30am-5:00pm
    <a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a><br>
    020 7283 4642
  </p>
  <p>
    <i class="foundicon-twitter"></i> <a class="dark" href="http://twitter.com/Curators_Coffee">@Curators_Coffee</a><br>
    <i class="foundicon-google-plus"></i> <a class="dark url" href="https://plus.google.com/104952979599766265060/about">Google+</a><br>
    <i class="foundicon-facebook"></i> <a class="dark url" href="https://www.facebook.com/curatorscoffee">http://facebook.com/curatorscoffee</a>
  </p>
</div>
