<div class="vcard">
  <p>
    <strong>Curators Coffee Studio</strong><br>
    9a Cullum St<br>
    London EC3M 7JJ<br>
    Mon-Fri 7:30am-5:00pm
    <a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a><br>
    020 7283 4642
  </p>
  <div class="row">
    <div class="large-3 small-3 columns">
      <a class="social-media-link" href="http://twitter.com/Curators_Coffee"><span class="symbol">roundedtwitterbird</span></a>
    </div>
    <div class="large-3 small-3 columns">
      <a class="social-media-link" href="https://www.facebook.com/curatorscoffee"><span class="symbol">roundedfacebook</span></a>
    </div>
    <div class="large-3 small-3 columns">
      <a class="social-media-link" href="http://instagram.com/curators_coffee"><span class="symbol">roundedinstagram</span></a>
    </div>
    <div class="large-3 small-3 columns">
      <a class="social-media-link" href="https://plus.google.com/104952979599766265060/about"><span class="symbol">roundedgoogleplus</span></a>
    </div>
  </div>
</div>
