<address class="vcard" style="padding-left:8px;">
  <p>
  <i class="icon icon-map-view"></i> <a href="http://maps.google.co.uk/maps?q=curators+coffee&amp;hl=en&amp;ll=51.512108,-0.082591&amp;spn=0.016279,0.036736&amp;sll=53.800651,-4.064941&amp;sspn=31.939111,75.234375&amp;hq=curators+coffee&amp;t=m&amp;z=16&amp;iwloc=A" class="dark adr">9a Cullum St London EC3M 7JJ</a><br>
  <i class="icon icon-success"></i> Mon-Fri 7:30am-5:00pm<br>
  <i class="icon icon-phone"></i> 020 7283 4642<br>
  <i class="icon icon-twitter"></i> <a class="dark" href="http://twitter.com/Curators_Coffee">@Curators_Coffee</a><br>
  <i class="icon icon-plus"></i> <a class="dark url" href="https://plus.google.com/104952979599766265060/about">Google+</a><br>
  <i class="icon icon-user"></i> <a class="dark url" href="https://www.facebook.com/curatorscoffee">facebook.com/curatorscoffee</a><br>
  <i class="icon icon-contact"></i> <a class="dark" href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a>
  </p>
</address>
