<% content_for :title, "Catering" %>

<div class="row">
  <div class="twelve columns">
    <div class="leader-hero">
      <h2>Curators Coffee could join your next meeting</h2>
      <h4 class="subheader">There is nothing more exciting than a meeting, except maybe a meeting with your own in-office specialty coffee experience!</h4>
      <p>We can provide hot single origin filter coffee, fresh orange juice, and a range of cakes perfect for a mid morning or afternoon meeting. Please see our full range below and give us a call on 020 7283 4642 or email <%= link_to "contact@curatorscoffee.com", "mailto:contact@curatorscoffee.com" %> for a quote or to place an order. Please note we will require a minimum of 24hrs notice prior to when you would like to receive your order and delivery is within EC3M.</p>
      <p>For orders made more than 48hrs in advance we may be able to provide Butter Croissants, Almond Croissants, Pain au Chocolat and Ham and Cheese Croissants as well.</p>
      <h3>Drinks</h3>
      <ul class="square">
        <li>Filter Coffee (per person)</li>
        <li>Fresh Orange Juice 1 Litre</li>
        <li>Bottled Pear Juice 250ml</li>
        <li>Bottled Cox and Bramely 250ml</li>
        <li>Still Water 330ml</li>
        <li>Sparkling Water 330ml</li>
        <li>Sloe Lemonade 275ml</li>
        <li>Ginger Beer with Chilli 275ml</li>
      </ul>
      <h3>Cakes</h3>
      <ul class="square">
        <li>Raspery and Hazelnut Slice</li>
        <li>Triple Chocolate Brownies</li>
        <li>Lemon Drizzle Muffins</li>
        <li>Buttermilk, Pecan and Cinnamon Muffins</li>
        <li>Banana and Chocolate Muffins</li>
        <li>Carrot Cake slices</li>
        <li>Fruit and Nut Cake</li>
        <li>Banana bread slices</li>
        <li>Orange, Honey and Polenta Cake</li>
        <li>Choc, Fruit and Nut Cookies</li>
      </ul>

      <abbr>* Cakes subject to availability</abbr>
    </div>
  </div>
</div>
