<% content_for :title, "Catering" %>

<div class="row">
  <div class="col-md-12 columns">
    <h1>Curators Coffee could be in your next meeting!</h1>
    <h3 class="subheader">There is nothing more exciting than a meeting, except maybe a meeting with <strong>your own in-office specialty coffee experience!</strong></h3>
    <p>We can provide hot single origin filter coffee, fresh orange juice, and a range of cakes that would be perfect for a mid morning or afternoon meeting.  Please see our full range below and give us a call on <strong>020 7283 4642</strong> or email <%= link_to "contact@curatorscoffee.com", "mailto:contact@curatorscoffee.com" %> for a quote or to place an order.</p>
    <p>For orders made more than 48hrs in advance we are able to provide pastries suitable for Breakfast meetings as well.</p>
    <p>And if you have any specific requests, like whole cakes (for birthdays) please give us a call and we will do our best to help you out.</p>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Look No Further Mixed Platter Deal</th>
          <th class="col-md-3 small-3">£4.50 / person (min 5 people)</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Filter Coffee plus a mixture of cakes</td>
      </tr>
    </table>

    <h3>Drinks</h3>

    <table class="table table-striped table-bordered">
      <tr>
        <td colspan="2"><strong>Fresh:</strong></td>
      </tr>

      <tr>
        <td>Filter Coffee delivered and kept warm for hours in easy to use Vac Pots.</td>
        <td class="col-md-3 small-3"><strong>£8.00 per litre (serves 4-6)</strong></td>
      </tr>
      <tr>
        <td>Fresh Orange Juice 1 Litre</td>
        <td><strong>£10.00</strong></td>
      </tr>

      <tr>
        <td colspan="2"><strong>Bottled:</strong></td>
      </tr>

      <tr>
        <td>Pear Juice 250ml</td>
        <td><strong>£2.20</strong></td>
      </tr>

      <tr>
        <td>Cox and Bramley 250ml</td>
        <td><strong>£2.20</strong></td>
      </tr>

      <tr>
        <td>Still Water 330ml</td>
        <td><strong>£1.20</strong></td>
      </tr>

      <tr>
        <td>Sparkling Water 330ml</td>
        <td><strong>£1.20</strong></td>
      </tr>

      <tr>
        <td>Sloe Lemonade 275ml</td>
        <td><strong>£2.30</strong></td>
      </tr>

      <tr>
        <td>Ginger Beer with Chilli 275ml</td>
        <td><strong>£2.30</strong></td>
      </tr>

      <tr>
        <td>Coke or Diet Coke in glass bottles</td>
        <td><strong>£1.90</strong></td>
      </tr>
    </table>

    <h3>Breakfast of Champions</h3>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Yoghurt and Granola pots</th>
          <th class="col-md-3 small-3">£3.50</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Thick Greek yoghurt layered on seasonal fruit compote. Served with toasted granola on the side to keep its crunch</td>
      </tr>
    </table>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Muffins</th>
          <th class="col-md-3 small-3">£2.50</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Lemon Drizzle</td>
      </tr>
      <tr>
        <td colspan="2">Buttermilk, Pecan and Cinnamon Muffins</td>
      </tr>
      <tr>
        <td colspan="2">Banana and Chocolate</td>
      </tr>
    </table>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th colspan="2">Viennoiseries by Yeast Bakery: (48hrs notice required)</th>
        </tr>
      </thead>
      <tr>
        <td>Butter Croissant</td>
        <td class="col-md-3 small-3"><strong>£1.90</strong></td>
      </tr>
      <tr>
        <td>Pain au Chocolate</td>
        <td><strong>£2.10</strong></td>
      </tr>
      <tr>
        <td>Almond Croissant</td>
        <td><strong>£2.30</strong></td>
      </tr>
      <tr>
        <td>Ham and Cheese Croissant</td>
        <td><strong>£3.50</strong></td>
      </tr>
    </table>

    <h3>Power Treats</h3>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Slices</th>
          <th class="col-md-3 small-3">£2.30</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Raspberry and Hazelnut</td>
      </tr>
      <tr>
        <td colspan="2">Triple Chocolate Brownies</td>
      </tr>
    </table>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Cake slices</th>
          <th class="col-md-3 small-3">£2.50</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Carrot Cake</td>
      </tr>
      <tr>
        <td colspan="2">Fruit and Nut Cake</td>
      </tr>
      <tr>
        <td colspan="2">Banana Bread</td>
      </tr>
      <tr>
        <td colspan="2">Orange, Honey and Polenta Cake</td>
      </tr>
    </table>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Cookies</th>
          <th class="col-md-3 small-3">£2.50</th>
        </tr>
      </thead>
      <tr>
        <td colspan="2">Choc, Fruit and Nut Cookies</td>
      </tr>
      <tr>
        <td colspan="2">Everything Cookies</td>
      </tr>
    </table>

    <h6 class="subheader">
      * Cakes subject to availability<br>
      ** Prices exclude VAT
    </h6>

    <h4>Things you need to know:</h4>

    <ul class="square catering-terms">
      <li>Orders must be placed by 10am for next day delivery.</li>
      <li>Pastries need to be ordered 48hrs in advance.</li>
      <li>Free delivery is for the area of EC3M only. For delivery outside of this area a fee will apply.</li>
      <li>We can supply you with takeaway cutlery, napkins and cups but unfortunately no ceramics.</li>
      <li>Filter coffee and orange juice is supplied in our own café equipment which we will need to collect within 24 hrs.</li>
    </ul>

  </div>
</div>
