<% content_for :top_content do %>
  <div class="panel radius" id="leader-hero">
    <h2>Our Coffee</h2>
    <p>We take great pride in preparing our coffee and have the pleasure of working with local London roasteries who support direct trade methods of purchasing coffee, resulting in a  range of high quality of coffees on offer, all roasted to perfection using delicate roasting profiles.</p>

    <p>Our house espresso is the Rogue from <a href="http://www.unionroasted.com/">Union Hand-Roasted Coffees</a>. Developed with Andrew Tolley of Taylor St Baristas, the components of Rogue change on a seasonal basis which ensure a great tasting product at all times of the year.</p>

    <p>Our guest espresso, decaf and filter coffee is provided by <a href="http://shop.squaremilecoffee.com/">Square Mile Coffee Roasters</a>. What we offer in store will constantly change to showcase their stunning range of coffees.</p>

    <p>For more details ask our baristas what is currently being featured.</p>
  </div>
<% end %>
<% content_for :sub_logo_content do %>
  <%= image_tag "latte_art.jpg", :class => "" %>
<% end %>
