<% content_for :top_content do %>
    <div class="panel radius" id="leader-hero">
      <%= link_to @map_url do %>
        <div id="map" style="width: 100%; height: 590px"></div>
      <% end %>
    </div>
<% end %>

<% content_for :sub_logo_content do %>
  <%= render :partial => 'vcard' %>
<% end %>
