<% content_for :top_content do %>
    <h2>Curators Creations</h2>
<% end %>


<div class="row">
  <div class="four columns">
    <%= image_tag "", :class => "" %>
  </div>

  <div class="eight columns">
    <div class="panel radius" id="leader-hero">
      <h3>February</h3>
      <p>February's Creation is called the East India Coffee. It is an
      espresso based drink, made with our house espresso which is the Rogue
      roasted by Union. We will be pulling the shots as ristrettos to obtain
      an intense sweet flavour to which we will then add 6 ounces of creamy
      steamed milk that has been infused for 48 hrs with warm spices of
      cardamon, cinnamon and star anise, along with vanilla, honey and
      ginger.</p>

      <p>Smooth, warm delicious and comforting. Perfect for February weather.</p>
    </div>
  </div>
</div>

<div class="row">
  <div class="four columns">
    <%= image_tag "", :class => "" %>
  </div>

  <div class="eight columns">
    <div class="panel radius" id="leader-hero">
      <h3>January</h3>

    </div>
  </div>
</div>
