<% content_for :title, "Our Design" %>

<div class="row">
  <div class="large-offset-4 large-8 columns leader-hero">
    <h2>Our Design</h2>
  </div>
</div>
<div class="row">
  <div class="large-4 columns">
    <%= image_tag "cabinet.jpg", :class => "" %>
  </div>
  <div class="large-8 columns">
    <div class="radius leader-hero">
      <p>The concept of Curators Coffee developed from our attempts to visualise the art of coffee and our desire to create a gallery space for our craft. A collaboration between talented furniture builder Jason, of <a href="http://www.madebyjason.co.uk/the-man-his-shed/">madebyjason</a> and designer extraordinaire Jen Archer led to Curators Coffee Studio, a space of free thought, where things are collected and recreated or reimagined. To reflect this we’ve used a mix of recycled, new and artisan materials to bring this to life.</p>
    </div>
  </div>
</div>
