<% content_for :top_content do %>
  <div class="panel radius" id="leader-hero">
    <h2>Design</h2>
      <p>The concept of Curators Coffee developed from our attempts to visualise the art of coffee and our desire to create a gallery space for our craft. A collaboration between talented furniture builder Jason, of madebyjason and designer extraordinaire Jen Archer led to Curators Coffee Studio, a space of free thought, where things are collected and recreated or reimagined. To reflect this we’ve used a mix of recycled, new and artisan materials to bring this to life.</p>
  </div>
<% end %>
<% content_for :sub_logo_content do %>
  <%= image_tag "cabinet.jpg", :class => "" %>
<% end %>
