<% content_for :title, "Our Design" %>

<div class="row">
  <div class="col-md-offset-4 col-md-8">
    <h2>Our Design</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <%= image_tag "jason_cabinet.jpg", class: "img-responsive" %>
  </div>
  <div class="col-md-8">
    <p>The Curators Coffee design concept originated from our attempts to visualise the art of 'curating' coffee by developing spaces that fuel creativity and innovation.</p>

    <p>This vision has been brought to life by talented local furniture builder Jason Prain of <a href="http://www.madebyjason.co.uk/the-man-his-shed/">madebyjason</a> and his leading design partners.</p>

    <p>A collaboration between Jason and New Zealand based designer Jen Archer led to Curators Coffee Studio. A space of free thought, where things are collected and reimagined. To reflect this we've used a mix of recycled, new and artisan materials.</p>

    <p>Our second store, Curators Coffee Gallery, was designed by Ana Foster-Adams. The high ceiling and plentiful natural light is the perfect environment for us to showcase a range of coffee equipment that you can take home or try at our brew bar. We also display innovative works from local artists that are available to purchase.  </p>

    <p>London's Best Coffee app says Curators Coffee Gallery is "relaxing, refreshing, and a little fantastical; a secret garden within what is becoming an increasingly coffee saturated hub in Fitzrovia."</p>

    <p>Caffeine magazine says "there is a genuine absence of café cliché…the interior is bold, energetic and refreshingly clean in its lines and colours."</p>
  </div>
</div>
