<% content_for :title, "Drink & Eat".html_safe %>

<div class="row">
  <div class="large-offset-4 large-8 columns">
    <h2>Our Coffee</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "latte_art.jpg", :class => "" %>
  </div>

  <div class="large-8 columns">
    <p>We take great pride in preparing our coffee and have the pleasure of working with specialist roasteries that purchase direct from the world's leading farms. Giving us a wide range of high quality and delicate profiles that are roasted to perfection.</p>

    <p>We are very proud to introduce <strong>"Exhibition"</strong>, our new signature house espresso. Roasted by the talented team at Nude Espresso who have been working very hard to create what can only be described as sweet nectar from the gods.</p>

    <p>Our first Exhibition blend is a harmonious combination of Brazilian and El Salvadorian produce, roasted to perfection. The espresso is rich and velvety with dark forest fruits of prunes and plums balanced by light lemon pie acidity. When paired with steamed milk the fruit notes take a back seat giving way to smooth toffee caramel.</p>

    <p>This coffee is so delicious it gives new meaning to the word caffeine addiction.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-offset-4 large-8 columns">
    <h2>Our Tea</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "tea.jpg", :class => "" %>
  </div>

  <div class="large-8 columns">
    <p>Our teas are supplied by tea traders <a href="http://www.lalaniandco.com/">Lalani &amp; Co</a> who spend time every year visiting tea farms around the world to source only the highest quality teas. We brew our teas in homemade Gaiwans using exact recipes to ensure we get the best out of the leaves.</p>
  </div>
</div>

<div class="row">
  <hr>
</div>

<div class="row">
  <div class="large-offset-4 large-8 columns">
    <h2>Our Food</h2>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <%= image_tag "sandwich.jpg", :class => "" %>
  </div>

  <div class="large-8 columns">
    <p>Our food menu is designed around the concept of having simple options made from good quality ingredients.</p>

    <p>Our pastries are supplied by <a href="http://www.yeastbakery.com/">Yeast Bakery</a> who are uncompromising in their pursuit of creating the perfect croissant. Focusing solely on Butter croissants, Almond croissants and Pains au Chocolat, there isn't a single other bakery that could match the care, attention (and taste!) that Yeast put into their products.</p>

    <p>Our delicious baked goods are courtesy of <a href="http://www.bittersweetbakers.com/">Bittersweet Bakers</a>. Established in 2009 by food genius <em>Arianna Halshaw</em>, Bittersweet Bakers are responsible for the decadent pleasures we have on offer, such as Triple Chocolate Brownies, Everything Cookies and Orange, Honey and Polenta Loaf. With seasonality of ingredients featuring in Bittersweet Bakers recipes there is always something new and delicious to try.</p>

    <p>Fresh bread is delivered daily from <a href="http://www.sallyclarke.com/">Sally Clarke's Bakery</a>. Served at breakfast as toast, and at lunch as a part of our freshly made toasted sandwiches. </p>

  </div>
</div>
