<% content_for :top_content do %>
  <div class="panel radius" id="leader-hero">
    <h2>Our Food</h2>
    <p>Our food menu is designed around the concept of having simple options made from good quality ingredients.</p>

    <p>Our pastries are supplied by <a href="http://www.yeastbakery.com/">Yeast Bakery</a> who are uncompromising in their pursuit of creating the perfect croissant. Focusing solely on Butter croissants, Almond croissants and Pains au Chocolat, there isn't a single other bakery that could match the care, attention (and taste!) that Yeast put into their products.</p>

    <p>Our delicious baked goods are courtesy of <a href="http://www.bittersweetbakers.com/">Bittersweet Bakers</a>. Established in 2009 by food genius <em>Arianna Halshaw</em> Bittersweet Bakers are responsible for the decadent pleasures we have on offer, such as Triple Chocolate Brownies, Everything Cookies and Orange, Honey and Polenta Loaf. With seasonality of ingredients featuring in Bittersweet Bakers recipes there is always something new and delicious to try.
    </p>

    <p>Fresh bread is delivered daily from <a href="http://www.sallyclarke.com/">Sally Clarke's Bakery</a>. Served at breakfast as toast, and at lunch as a part of our freshly made toasted sandwiches. We also stock their extremely hard to resist Chocolate Truffles – a perfect accompaniment to a quick delicious cup of coffee.</p>

    <p>For more information on our current food offering and enquiries for office catering please email <a href="mailto:food@curatorscoffee.com">food@curatorscoffee.com</a>.</p>
  </div>
<% end %>
<% content_for :sub_logo_content do %>
  <%= image_tag "sandwich.jpg", :class => "" %>
<% end %>
