<div class="row">
  <div class="three columns">
    <h1><%= link_to "Curators Coffee" %></h1>
    <address class="vcard">
      <p><i class="icon icon-map-view"></i> <strong><span class="adr">9a Cullum St London EC3M 7JJ</span></strong><br>
      <i class="icon icon-success"></i> <strong>Mon-Fri 7:30am-5:00pm</strong></p>
    </address>
  </div>
  <div class="nine columns">
    <article>
      <header>
        <h3>In a burst of colour Curators Coffee Studio recently opened it's doors in the City of London. Devoted to specialty coffee, this new cafe has been created by a collection of people who all love great tasting coffee.  Unique design is central to the Curators Coffee ethos and their innovative, fresh approach provides a stark contrast to the usual environment of other city cafes.  Combined with their great service, it's an uplifting coffee experience [in the heart of the city].</h3>
      </header>
    </article>
  </div>

</div>
<div class="row">
  <div class="three columns">
    <address class="vcard">
      <p>
      <i class="icon icon-twitter"></i> <a href="http://twitter.com/Curators_Coffee">@Curators_Coffee</a><br>
      <i class="icon icon-user"></i> <a class="url" href="https://www.facebook.com/curatorscoffee">facebook.com/curatorscoffee</a><br>
      <i class="icon icon-contact"></i> <a href="mailto:contact@curatorscoffee.com">contact@curatorscoffee.com</a></p>
      </p>
    </address>
  </div>
  <div class="nine columns">
    <img src="http://maps.googleapis.com/maps/api/staticmap?center=51.512109,-0.082581&markers=color:0x8EBFC0%7Clabel:S%7C51.512109,-0.082581&zoom=15&size=640x320&sensor=false&scale=2">
  </div>
</div>
