<div class="row">
  <div class="large-12 columns">
    <div class="cc-panel">
      <p>Curators Coffee is a specialty coffee house that was created by a small group of Antipodeans who are devoted to great tasting coffee. In March 2012, Curators Coffee Studio opened its doors in the City of London. Our second venture, Curators Coffee Gallery, opened near Oxford Circus in June 2014.</p>
      <p>We serve specialty coffees, teas and freshly prepared food from our in-house kitchen and a range of leading local suppliers. The latest brewing equipment and retail coffee beans are also available to take home.</p>
    </div>
  </div>
</div>

<div class="row hide-for-small">
  <div class="large-12 columns">
    <div class="cc-panel">
      <ul id="main-slides" data-orbit data-options="bullets:false; timer_speed:5000; slide_number:false">
        <%= render 'slides' %>
      </ul>
    </div>
  </div>
</div>
