<% content_for :top_content do %>
    <div class="panel radius" id="leader-hero">
      <p>In a burst of colour Curators Coffee Studio recently opened its doors in the City of London. Devoted to specialty coffee, this new cafe has been created by a collection of people who all love great tasting coffee. Unique design is central to the Curators Coffee ethos and their innovative, fresh approach provides a stark contrast to the usual environment of other city cafes. Combined with their great service, it's an uplifting coffee experience.</p>
    </div>
<% end %>

<div class="row">
  <div class="four columns">
    <%= link_to @map_url do %>
      <div id="map" style="width: 100%; height: 220px"></div>
    <% end %>
  </div>
  <div class="eight columns">
    <div id="main-slides">
      <%= render :partial => 'slides' %>
    </div>
  </div>
</div>
