<div class="row">
  <div class="span3">
    <p><img style="padding:0;margin:0" src="/assets/stampsmall.png"></p>
    <p><i class="icon-map-marker"></i> 9a Cullum St London EC3M 7JJ<br/>
    <i class="icon-gift"></i> <strong>Mon-Fri 0730-1630</strong><br/>
    <a href="http://twitter.com/Curators_Coffee"><i class="icon-user"></i> @Curators_Coffee</a></br>
    <a href="mailto:contact@curatorscoffee.com"><i class="icon-envelope"></i> contact@curatorscoffee.com</a></p>
  </div>
  <div class="span8"><img src="http://maps.googleapis.com/maps/api/staticmap?center=51.512109,-0.082581&markers=color:0x8EBFC0%7Clabel:S%7C51.512109,-0.082581&zoom=16&size=620x535&sensor=false&scale=2" width="620px" height="535px"></div>
</div>
