<div class="row">
  <div class="large-12 columns">
    <div class="cc-panel">
      <p>Curators Coffee is a specialty coffee house that was created by a small group of Antipodeans who are devoted to great tasting coffee. In 2012, our first concept, Curators Coffee Studio, opened its doors in the City of London.  Since then we’ve been serving specialty coffees, teas and quality local food to a growing audience of coffee connoisseurs.</p>

    </div>
  </div>
</div>

<div class="row hide-for-small">
  <div class="large-12 columns">
    <div class="cc-panel">
      <ul id="main-slides" data-orbit data-options="bullets:false; timer_speed:5000; slide_number:false">
        <%= render :partial => 'slides' %>
      </ul>
    </div>
  </div>
</div>
