<div class="row">
  <div class="large-12 columns">
    <div class="panel radius home-panel leader-hero">
      <p>Curators Coffee is a specialty coffee house that was created by a small group of Antipodeans who are devoted to great tasting coffee. In 2012, our first concept, Curators Coffee Studio, opened its doors in the City of London.  Since then we’ve been serving specialty coffees, teas and quality local food to a growing audience of coffee connoisseurs.</p>

    </div>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <div class="panel radius home-panl">
      <%= link_to @map_url do %>
        <img src="http://maps.googleapis.com/maps/api/staticmap?sensor=false&center=51.512030,-0.082581&zoom=16&size=640x320&markers=color:0xadccd1|label:C|51.512030,-0.082581<%= "&key=#{GOOGLE_API_KEY}" if Rails.env == 'production' %>" />
      <% end %>
    </div>
  </div>
  <div class="large-4 columns">
    <div class="panel radius home-panl">
      <%= render :partial => 'vcard' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel radius home-panl">
      <ul id="main-slides" data-orbit data-options="bullets:false; timer_speed:5000">
        <%= render :partial => 'slides' %>
      </ul>
    </div>
  </div>
</div>
