<% content_for :top_content do %>
  <div class="panel radius" id="leader-hero">
    <h2>Our Tea</h2>
    <p>Our teas are supplied by tea traders <a href="http://www.lalaniandco.com/">Lalani &amp; Co</a> who spend time every year visiting tea farms around the world to source only the highest quality teas. We brew our teas in homemade <a href="http://en.wikipedia.org/wiki/Gaiwan">Gaiwans</a> using exact recipes to ensure we get the best out of the leaves.</p>

    <p>We also make a fresh mint infusion made from our mint garden grown in store. We have a range of mint including Applemint and Black Peppermint so ask our staff what they can offer you.</p>
  </div>
<% end %>
<% content_for :sub_logo_content do %>
  <%= image_tag "tea.jpg", :class => "" %>
<% end %>
