<div class="row">
  <div class="large-6 columns">
    <h3>Brew Classes</h3>
    <table>
      <thead>
        <tr>
          <th>Time</th><th>Free</th><th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @brew_classes.each do |klass| %>
          <%= show_class_details(klass) %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add Brew Class", new_admin_brew_class_path, class: 'button' %>
  </div>
  <div class="large-6 columns">
    <h3>Latte Art Classes</h3>
    <table>
      <thead>
        <tr>
          <th>Time</th><th>Free</th><th colspan="2"></th>
        </tr>
      </thead>
      <tbody>
        <% @latte_classes.each do |klass| %>
          <%= show_class_details(klass) %>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add Latte Art Class", new_admin_latte_art_class_path, class: 'button' %>
  </div>
</div>
