<% content_for :title, "Our Classes" %>

<div class="row">
  <div class="seven columns">
    <div class="leader-hero coffee-class">
      <h2>Brewed Coffee Class</h2>

      <p>Working from home and weekends shouldn’t mean you have to miss out on
      your morning coffee. Filtered coffee is really simple to make and
      tastes great if you follow a few simple guidelines!</p>

      <p>We will be running <strong>Work From Home Coffee Classes</strong> to teach you the
      basics of making tasty filtered coffee.</p>

      <p>Classes go for <strong>1 hour</strong> and you will learn how to make filtered coffee
      using <strong>French Press</strong>, <strong>Aeropress</strong> and <strong>Pourover</strong> methods.</p>

      <p>Class costs <strong>£15 per person</strong> and there is a maximum of <strong>6 people per
        class</strong>. For more info or details of upcoming classes contact Krysty on: <a href="mailto:classes@curatorscoffee.com">classes@curatorscoffee.com</a></p>
    </div>
  </div>
  <div class="offset-by-one four columns">
    <div class="leader-hero coffee-class">
      <h3>Next Classes</h3>
      <ul class="square">
        <% @brew_classes.each do |klass| %>
          <li><%= klass.to_time.strftime('%A %e %B, %l:%M%P') %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="seven columns">
    <div class="leader-hero coffee-class">
      <h2>Latte Art Class</h2>
      <p>Attempt to pour your own amazing latte art images and then marvel at how terrible you are. Don't worry, we will be there to guide you and provide words of encouragement.</p>
      <p>The class will cover basic milk chemistry and milk texturing but will focus mainly on Latte art pouring.</p>
      <p>Latte Art Classes cost <strong>£25 per person</strong> and go for <strong>1.5 hours</strong> and are limited to a maximum of <strong>4 people per class</strong> to ensure everyone gets plenty of practice. For more info or details of upcoming classes contact Krysty on: <a href="mailto:classes@curatorscoffee.com">classes@curatorscoffee.com</a></p>
    </div>
  </div>
  <div class="offset-by-one four columns">
    <div class="leader-hero coffee-class">
      <h3>Next Classes</h3>
      <ul class="square">
        <% @latte_classes.each do |klass| %>
          <li><%= klass.to_time.strftime('%A %e %B, %l:%M%P') %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
