<div class="footer-container">
  <div class="row">
    <div class="large-4 columns">
      <h4>Join Our Mailing List</h4>
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="http://curatorscoffee.us4.list-manage.com/subscribe/post?u=b8ada79ae7ae90478bf9a0593&amp;id=d742678d90" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div class="row collapse">
            <div class="small-9 columns">

              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
              <input type="hidden" value="2" name="group[16445][2]" id="mce-group[16445]-16445-1">
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_b8ada79ae7ae90478bf9a0593_d742678d90" tabindex="-1" value=""></div>
            </div>
            <div class="small-3 columns">
              <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="button postfix small radius">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
      <div class="fb-like" data-href="https://www.facebook.com/curatorscoffee" data-layout="standard" data-action="like" data-share="true" data-width="380px" data-color-scheme="light"></div>
    </div>
    <div class="large-6 large-offset-2 columns">
      <h4>Locations</h4>
      <ul class="no-bullet locations-list">
        <li><a href="https://goo.gl/maps/bZdoz">Curators Coffee Studio</a>, 9a Cullum Street, London EC3M 7JJ</li>
        <li><a href="https://goo.gl/maps/MPDSv">Curators Coffee Gallery</a>, 51 Margaret Street, London W1W 8SG</li>
      </ul>
      <a class="social-media-link" href="http://twitter.com/Curators_Coffee"><span class="symbol">twitterbird</span></a>
      <a class="social-media-link" href="https://www.facebook.com/curatorscoffee"><span class="symbol">facebook</span></a>
      <a class="social-media-link" href="http://instagram.com/curators_coffee"><span class="symbol">instagram</span></a>
      <a class="social-media-link" href="https://plus.google.com/+CuratorsCoffee/about"><span class="symbol">googleplus</span></a>
    </div>
  </div>


  <div class="footer">
    <footer class="row">
      <div class="large-12 columns">
        <div class="row">
          <div class="large-12 small-12 columns">
            <p>&copy; 2013-2015 Curators Coffee</p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
