<div class="curators-menu">
  <div class="row">
    <div class="large-3 small-6 medium-3 columns">
      <h1><img src="/img/logos/cc-master-logo.png" class="cc-logo" /></h1>
    </div>
    <div class="large-9 small-6 medium-9 columns">
      <a class="menu-link" href="/food_drink/">Drink &amp; Eat</a>
      <a class="menu-link" href="/catering/">Catering</a>
      <a class="menu-link" href="/creations/">Creations</a>
      <a class="menu-link" href="/classes/">Classes</a>
      <a class="menu-link" href="/design/">Design</a>
      <a class="menu-link" href="/locations/">Locations</a>
    </div>
  </div>
</div>
