<div class="row hide-for-small">
  <div class="large-12 columns">
    <div class="cc-panel">
      <ul id="main-slides" data-orbit data-options="bullets:false; timer_speed:5000; slide_number:false">
        <li><img class="slide" src="/img/slides/slide1.jpg" alt="Slide1" /></li>
        <li><img class="slide" src="/img/slides/slide2.jpg" alt="Slide2" /></li>
        <li><img class="slide" src="/img/slides/slide3.jpg" alt="Slide3" /></li>
        <li><img class="slide" src="/img/slides/slide4.jpg" alt="Slide4" /></li>
        <li><img class="slide" src="/img/slides/slide5.jpg" alt="Slide5" /></li>
        <li><img class="slide" src="/img/slides/slide6.jpg" alt="Slide6" /></li>
        <li><img class="slide" src="/img/slides/slide7.jpg" alt="Slide7" /></li>
        <li><img class="slide" src="/img/slides/slide8.jpg" alt="Slide8" /></li>
        <li><img class="slide" src="/img/slides/slide9.jpg" alt="Slide9" /></li>
        <li><img class="slide" src="/img/slides/slide10.jpg" alt="Slide10" /></li>
        <li><img class="slide" src="/img/slides/slide11.jpg" alt="Slide11" /></li>
        <li><img class="slide" src="/img/slides/slide12.jpg" alt="Slide12" /></li>
        <li><img class="slide" src="/img/slides/slide13.jpg" alt="Slide13" /></li>
        <li><img class="slide" src="/img/slides/slide14.jpg" alt="Slide14" /></li>
        <li><img class="slide" src="/img/slides/slide15.jpg" alt="Slide15" /></li>
        <li><img class="slide" src="/img/slides/slide16.jpg" alt="Slide16" /></li>
        <li><img class="slide" src="/img/slides/slide17.jpg" alt="Slide17" /></li>
      </ul>
    </div>
  </div>
</div>

