@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('/fonts/MonoSocialIconsFont-1.10.eot');
    src: url('/fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('/fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('/fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.body-container {
  padding-top: 1.25em;
  padding-bottom: 1.25em;
}

.error-container {
  padding-top: 50px;
}

h2, h3, h4 {
  font-weight: 500;
  &.subheader {
    font-weight: 300;
  }
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.curators-navigation {
  float:right;
  padding: 2.6em 0;
}

.curators-menu {
  padding: 1em 0;
  background-color: $silverColor;
}

a, dl dt {
  font-weight: 500;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.vcard {
  border: none;
}

ul.catering-terms {
  list-style-position: inside;
  margin-left: 4px;
}

a.social-media-link {
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

.menu-link {
  display: block;
  float: none;
  margin: 0;
  margin-right: 1em;
  text-align: right;
  padding: 0;
  text-transform: uppercase;
  font-weight: bold;
  color: $primary-color;
  transition: opacity 0.135s cubic-bezier(.51,.27,.6,.91);

  &:hover,
  &:focus {
    text-decoration: none;
    opacity: 0.5;
  }
}

p {
  font-weight: 300;
  font-size: emCalc(18px);
  line-height: 1.36em;
}

.cc-panel {
    margin-top: 10px;
    margin-bottom: 10px;
}


@media #{$medium-only} {
  p {
    font-weight: 300;
    font-size: emCalc(24px);
  }

  .menu-link {
    text-align: left;
    float: left;
  }
}

@media #{$large-up} {

  p {
    font-weight: 300;
    font-size: emCalc(24px);
  }

  .menu-link {
    text-align:left;
    float: left;
  }
}

.field_with_errors input, .field_with_errors textarea {
  border: 1px solid red;
}

.blog-post {
  font-size: 1.1em;
  p { text-align: justify; font-weight: 300; }
  ul { list-style-position: inside;}
}

.footer-container {
  padding-top: 30px;
  background-color: $silverColor;
}

.footer {
  font-size: 0.8em;
  margin-top: 40px;
}

.locations-list {
  font-weight: 300;
  strong {
    font-weight: 500;
  }
}

img.cc-logo {
  height: 100px;
}

#menu {
  margin-bottom: 40px;
  text-align: center;
  p, dt {
    text-align: center;
    line-height: 1.36em;
    font-size: 1.36em;
  }
  dd {
    font-weight: 300;
    font-size:1.1em;
  }
}

.whats-on {
  img { margin-bottom: 9px; }
}
.whats-on-info {
  p { font-size: 1em; text-align: justify; font-weight: 300; }
}


.panel.standout {
  border: none;
  color: $silverColor;
  background-color: black;
  text-align: justify;
  font-size: 1.2em;
}
