<div class="row">
  <div class="large-12 columns">
    <dl>
      <% @documents.each do |post| %>
        <dt><%= post.title %> <%= post.created_at.try(:strftime, '%A %e %B %Y, %l:%M%P') %></dt>
        <dd><%= post.body %></dd>
      <% end %>
    </dl>
    <%= link_to "Add a document", new_admin_document_path, class: 'button' %>
  </div>
</div>
