<div class="row">
  <div class="large-12 columns">
    <% if @documents.empty? %>
      <p>Add FAQ's, documents, tutorials, staff guides etc. here.</p>
    <% end %>
    <dl>
      <% @documents.each do |post| %>
        <dt><%= post.title %> (created: <%= post.created_at.try(:strftime, '%A %e %B %Y, %l:%M%P') %>)</dt>
        <dd><%= MARKDOWN.render(post.body).html_safe %><hr></dd>
      <% end %>
    </dl>
    <%= link_to "Add a document", new_admin_document_path, class: 'button' %>
  </div>
</div>
