<div class="row">
  <div class="large-12 columns">
    <% @blog_posts.each do |post| %>
      <div class="row">
        <div class="large-6 columns">
          <p><%= link_to post.title, "/posts/#{post.slug}" %></p>
        </div>
        <div class="large-6 columns">
          <p><%= post.published_at %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
