$primary-color: #222222;
@font-face {
    font-family: 'Mono Social Icons Font';
    src: asset-url('MonoSocialIconsFont-1.10.eot');
    src: asset-url('MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         asset-url('MonoSocialIconsFont-1.10.woff') format('woff'),
         asset-url('MonoSocialIconsFont-1.10.ttf') format('truetype'),
         asset-url('MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: asset-url('MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header {
  margin-bottom: 20px;
}

.header nav ul li {
  margin: 30px 0;

}

.header img.cc-logo {
  height: 120px;
}

a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}

.curators-menu {
  background: black;
  color: white;
}

p {
  text-align: justify;
  font-weight: 300;
  line-height: 1.36em;
  font-size: 1.36em;
}

a {
  font-weight: 500;
  &:hover {
    color: $primary-color;
    text-decoration: underline;
  }
}

.vcard {
  border: none;
}

ul.catering-terms {
  list-style-position: inside;
  margin-left: 4px;
}

a.social-media-link {
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

// @media #{$medium-only} {
//   .cc-panel p {
//     font-weight: 300;
//     font-size: emCalc(24px);
//   }
// 
//   .menu-link {
//     text-align: center;
//     margin: 1em 0;
//     width: 16%;
//     padding: 2em 0;
//     float: left;
//   }
// }

// @media #{$large-up} {
// 
//   .cc-panel p {
//     font-weight: 300;
//     font-size: emCalc(24px);
//   }
// 
//   .menu-link {
//     text-align:center;
//     margin: 1em 0;
//     width: 16%;
//     padding: 2em 0;
//     float: left;
//   }
// }

.blog-post {
  font-size: 1.1em;
  p { text-align: justify; font-weight: 300; }
  ul { list-style-position: inside;}
}

.footer-container {
  margin-top: 30px;
  padding: 30px;
  background-color: #f6f6f9;
}

.footer {
  font-size: 0.6em;
  margin-top: 20px;
}

.locations-list {
  font-weight: 300;
  strong {
    font-weight: 500;
  }
}

#carousel-example-generic {
  height: 400px;
}
