<div class="row">
  <div class="large-12 columns">
    <table class="large-12 small-23">
      <thead>
        <tr>
          <td class="large-8">Title</td>
          <td class="large-1">Preview</td>
          <td class="large-3">Published</td>
        </tr>
      </thead>
      <tbody>
        <% @blog_posts.each do |post| %>
          <tr>
            <td><%= link_to post.title, edit_admin_blog_post_path(post) %></td>
            <td><%= link_to 'view', admin_blog_post_path(post), class: 'label tiny secondary' %></td>
            <td><%= post.published_at.try(:strftime, '%A %e %B %Y, %l:%M%P') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to "Add a blog post", new_admin_blog_post_path, class: 'button' %>
  </div>
</div>
